{% extends 'auctions/layout.html' %}

{% block body%}
    <h2 class="card-title">DASHBOARD</h2>
    <div class="card dashboard-user">
        <h3 class="btn-danger"> User Details</h3>
        <div class="card-body">
            <h6 class="font-weight-bold">Username : <strong>{{request.user.username}}</strong></h6>
            <h6 class="font-weight-bold my-3">Email :<strong>{{request.user.email}}</strong></h6>

        </div>
    </div>
    <br><br><br>
    <div class="card win-listing">
        <h5 class="card-title text-center btn-success">LISTINGS YOU WON</h5>
        <br><br>
        <div class="card-body">
             {% if not products %}
                <br>
                <h6>You did not win any Listings</h6>
                 <br><br>
            {% else %}
                 <div class="card card-cascade" >

                    {% for product in products %}

                                <div class="card-body card-body-cascade text-center win-card">

                                    <h4 class="card-title text-center text-capitalize"><strong>{{product.title}}</strong></h4>
                                    <br>
                                    <h2 class="font-weight-bold text-success">CONGRATULATIONS !!! <br> </h2>
                                    <br>

                                    <div class="row">
                                        <div class="col col-4" style="margin-top: 15%">
                                            <h4 class="font-weight-normal">Seller :<strong>{{product.owner}}</strong>  <br> </h4>
                                            <h4 class="font-weight-normal">Winner : <strong>{{product.winner}}</strong> <br> </h4>
                                            <br>
                                            <h4 class="font-weight-bold" id="winprice">
                                                {{product.winprice}} $ <br> </h4>
                                        </div>

                                        <div class="col col-8">
                                            <div id="card-image" alt="Card title" style="background-image: url({{product.image_link}})" >
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </div>

                    {% endfor %}
                 </div>
            {% endif %}
        </div>
    </div>



{% endblock %}